/* body {
    color: rgb(212, 182, 47);
}

h1 {
    color: rgb(139, 173, 16);
}

h2 {
    color: rgb(12, 77, 6);
}

link {
    color: rgb(34, 34, 207);
}

#lib_header {
    color: coral;
}

.para {
    color: slategrey;
} */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
:root {
    --primary-color: rgba(206, 20, 206, 0.945);
    --secondary-color: rgb(31, 134, 202);
}

body {
    font-family: 'Titillium Web', sans-serif;
}

hr {
    margin: 1.5rem 0rem;
}


/* container */

.container {
    /* padding-left: 1rem;
    padding-right: 1rem; */
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}


/* links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* padding: top left right; */
}

.link-primary {
    /* color: var(--primary-color); */
    background-color: var(--secondary-color);
    border-radius: 0.9rem;
    color: bisque;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.9rem;
    border: 1px solid var(--primary-color);
}


/* lists */

.list-non-bullet {
    list-style: none;
}

.list-inline-item {
    display: inline;
    padding: 0rem 0.5rem;
}


/* navigation */

.navigation {
    background-color: var(--primary-color);
    color: blanchedalmond;
    padding: 1rem;
    border-bottom-left-radius: 1.5rem;
}

.navigation .link {
    color: beige;
    border-radius: 0.5rem;
}

.navigation .nav-pills {
    text-align: center;
}

.navigation .brand-name {
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}

.navigation .link-active {
    font-weight: bold;
}


/* header */

.hero {
    padding: 2rem;
    text-align: center;
}

.hero .hero-image {
    max-width: 400px;
    display: block;
    margin: auto;
}

.hero .hero-header {
    padding: 0.5rem;
    font-size: 2rem;
    color: rgb(121, 84, 84);
}


/* sections */

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: rgb(230, 219, 219);
}


/* footers */

.footer {
    background-color: cornflowerblue;
    padding: 2rem;
    text-align: center;
    color: bisque;
    border-top-right-radius: 1.5rem;
}

.footer .link {
    color: blanchedalmond;
}

.footer ul {
    padding-inline-start: 0px;
}